.head {
  height: 400px;
  background-color: #f5b20a;
  background-image: url(http://www.transparenttextures.com/patterns/60-lines.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%
}
.head .name h2 {
  color: white;
  font-weight: 300;
}
.head .name h2 span {
  font-weight: 600;
}
@media only screen and (min-width:1024px) {
  .head {
    margin-top: 0.5em;
    margin-left: 2em;
    width: 500px
  }
}